<link href="scss/all.css" rel="stylesheet" type="text/css">

<h2>self defined button</h2>
<button>button</button>  original
<hr/>
<button class="btn">button</button>  original with class btn
<hr/>
<div class="btn">default</div>     div with class btn
<hr/>
<div class="btn btn-primary">primary</div>    div with class btn btn-primray

<h2>self defined input</h2>
<div>
    <input></input>   original input
</div>
<hr/>
<div class="form-group">
    <input></input>   input with class form-group
</div>
<hr/>
<div class="form-group has-error">
    <input></input>   input with class form-group has-error
</div>
<hr/>
<div class="form-group">
    <input disabled="disabled"></input> disabled input with class form-group
</div>


<h2>self defined checkbox</h2>
<div>
    <input type="checkbox"></input>   original checkbox
</div>
<hr/>
<div class="squaredFour">
  <input type="checkbox" value="None" id="squaredFour" name="check" checked />
  <label for="squaredFour"></label>
</div>

<h2>self defined togglebox</h2>
<div class="slideOne">
    <input type="checkbox" value="None" id="slideOne" name="check" checked />
    <label for="slideOne"></label>
</div>

<h2>self defined radio</h2>
    <input type="radio"/>
<hr/>
<div>
  <input type="radio" id="radio01" name="radio" />
  <label for="radio01"><span></span>Radio Button 1</label>
</div>

<div>
 <input type="radio" id="radio02" name="radio" />
 <label for="radio02"><span></span>Radio Button 2</label>
</div>

<!--<table>
    <tr>
        <td>
            <div class="slideOne">  
              <input type="checkbox" value="None" id="slideOne" name="check" checked />
              <label for="slideOne"></label>
            </div>
        </td>
        <td>
            <div class="slideTwo">  
              <input type="checkbox" value="None" id="slideTwo" name="check" checked />
              <label for="slideTwo"></label>
            </div>
        </td>
        <td>
            <div class="slideThree">  
              <input type="checkbox" value="None" id="slideThree" name="check" checked />
              <label for="slideThree"></label>
            </div>
        </td>
        <td>
            <div class="roundedOne">
              <input type="checkbox" value="None" id="roundedOne" name="check" checked />
              <label for="roundedOne"></label>
            </div>
        </td>
        <td>
            <div class="roundedTwo">
              <input type="checkbox" value="None" id="roundedTwo" name="check" checked />
              <label for="roundedTwo"></label>
            </div>
        </td>
        <td>
            <div class="squaredOne">
              <input type="checkbox" value="None" id="squaredOne" name="check" checked />
              <label for="squaredOne"></label>
            </div>
        </td>
        <td>
            <div class="roundedTwo">
              <input type="checkbox" value="None" id="roundedTwo" name="check" checked />
              <label for="roundedTwo"></label>
            </div>
        </td>
        <td>
            <div class="squaredThree">
              <input type="checkbox" value="None" id="squaredThree" name="check" checked />
              <label for="squaredThree"></label>
            </div>
        </td>
        <td>
            <div class="squaredFour">
              <input type="checkbox" value="None" id="squaredFour" name="check" checked />
              <label for="squaredFour"></label>
            </div>
        </td>
    </tr>
</table>-->
